{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest",
    "es6-recommended"
  ],
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
